<html>
  <head>
    <title>Github | Welcome {{ name }}</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'Github/css/bootstrap.css' %}" />
    <script src="{% static 'Github/css/bootstrap.js' %}"></script>
  </head>
  <body bgcolor="red">
    <div class="container">
      {% block content %}
      <br><br><br><br><br>
      <div align="center">
        <h2>Search by Github ID here</h2>
        <br>
        <form action="." method="POST" class="navbar-form navbar-center" role="search">
          {% csrf_token %}
          <div class="form-group">
            {{ form }}
          </div>
          <button type="submit" class="btn btn-default">Search</button>
        </form>
      </div>
      <br><br><br>

      {% if status %}
        <div class="alert alert-danger" role="alert">
          <span aria-hidden="true">{{ status }}</span>
        </div>
      {% endif %}

      <br><br><br>
      {% if name %}
        <div class="panel panel-default table-responsive">
          <div class="panel-heading" align="center">
            <h4>{{ name }}</h4>
          </div>
          <table class="table table-bordered table-hover">
            <tr>
              <td colspan=2 ><img src="{{ photo }}" alt="Profile Picture" class="img-circle img-responsive center-block" height="200" width="200"></td>
            </tr>
            <tbody>
              {% for key, value in details.items %}
              <tr>
                <th>{{ key }}</th>
                <td>{{ value }}</td> 
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      {% endif %}
        
      {% endblock %}
    </div>
    <br><br><br><br><br><br>
  </body>
</html>
